/guidelines/copyrighted
/udpipe
/conll-rdf
/conll-merge
/pepper

/txt/bibl
/txt/doyle
.*
!.gitignore
*.ps
*.ttl
/discourse_pre
/refexp
/rdf4discourse
all.*
mini.*
/preanno/parcor/parcor-full
*.log
*-link
__pycache__/
